python3 -m venv pyg-eng
source env/bin/activate
python3 -m pip install numpy pandas matplotlib torch 
python3 -m pip install torchvision
python3 -m pip install pyg-lib torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
python3 -m pip install mapillary
python3 -m pip install geopandas
# make sure to run deactovate